h1{
    color:cornflowerblue;
}
input[type = text], input[type = password] {

    width: 100%;;
    padding:7px;
    margin: 5px 0px 22px 0px;
    background: lightgoldenrodyellow;

}
*{
    box-sizing: border-box;
}
label{
    font-size: 17px;
}
button{
    font-size: 19px;
    background-color:coral;
    color: white;
    border: none;
    margin: 10px 0px;
    padding: 10px 10px;
    opacity: 0.6;
    border-radius: 7px;
}
button:hover{
    opacity:1;
    
}